<div class="body">
  <div *ngIf="commande" id="commande">
    <div>
      <label>Date de la commande : </label>
      <input [(ngModel)]="commande.dateCommande" type="date" placeholder="dateCommande" />
    </div>
    <div>
      <label>Commentaire : </label>
      <input [(ngModel)]="commande.commentaire" placeholder="commentaire" />
    </div>

    <div class="center">
      <a (click)="goBack()" class="btn btn-primary">Retour</a>
      <a (click)="save()" class="btn btn-primary">Sauvegarder</a>
    </div>
  </div>

  <!--Détails de la commande-->
  <!--Menus-->
    <div *ngIf="commande" id="commandes">
      <h4>Commandes</h4>
      <a data-target="modal1" class="btn" class="btn btn-primary" href="#modalCreationCommande"><i class="material-icons">add</i> Rejoindre la Commande</a>
        <p></p>
        <table class="responsive-table highlight" class="teal lighten-5">
          <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Menu</th>
                <th>Quantité</th>
                <th>Conducteur</th>
                <th>Accompagnateur</th>
                <th>Commentaire</th>
                <th>Payé</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commande of commandes | async">
              <td>
                  {{commande.nomUtilisateur}}
              </td>
              <td>
                  {{commande.nomMenu}}
              </td>
              <td>
                  {{commande.quantite}}
              </td>
              <td>
                  <i class="material-icons cyan-text text-darken-4">{{getIcone(commande?.conducteur)}}</i>
              </td>
              <td>
                  <i class="material-icons cyan-text text-darken-4">{{getIcone(commande?.accompagne)}}</i>
              </td>
              <td>
                  {{commande.commentaire}}
              </td>
              <td>
                  <i class="material-icons cyan-text text-darken-4">{{getIcone(commande?.paye)}}</i>
              </td>
              <td>
                  <a data-target="modal1" class="btn" class="btn-floating btn-small red" href="#modalSuppressionCommande" (click)="openModal(commande)"><i class="large material-icons">delete</i>Supprimer</a>
              </td>

            <tr>
          </tbody>
        </table>
        </div>

        <!-- Modal Suppression Commande-->
        <div id="modalSuppressionCommande" class="modal" materialize="modal">
          <div class="modal-content">
            <h4>Confirmation de suppression</h4>
            <p>Êtes-vous sûr de vouloir supprimer cette commande ?</p>
          </div>
          <div class="modal-footer">
               <a class="btn btn-primary modal-close" (click)="supprimer()">Confirmer</a>
               <a class="btn btn-primary modal-close">Annuler</a>
              </div>
          </div>

            <!-- Modal CréationCommande -->
      <div id="modalCreationCommande" class="modal" materialize="modal">
        <form novalidate (ngSubmit)="onSubmit(commandeGroup); commandeGroup.reset()" [formGroup]="commandeGroup" materialize>
            <div class="modal-content">
              <h4>Ajouter une nouvelle commande</h4>

              <label>
                <span>Choisir Menu : </span>
                <br />
                <template ngFor let-menu [ngForOf]="menus | async">
                  <input value="{{menu.id}}" id="{{menu.id}}" type="radio" formControlName="idMenu" />
                  <label for="{{menu.id}}">{{menu.nom}}</label>
                  <br />
                </template>
              </label>
              <label>
                <span>Quantité : </span>
                <input type="number" placeholder="1" formControlName="quantite">
              </label>

              <p>
                <input type="checkbox" id="conducteur" value="1" formControlName="conducteur" />
                <label for="conducteur">Conducteur</label>
              </p>
              <p>
                <input type="checkbox" id="accompagne" value="1" formControlName="accompagne" />
                <label for="accompagne">Accompagnateur</label>
              </p>
                  <p>
                    <input type="checkbox" id="paye" value="1" formControlName="paye" />
                    <label for="paye">Payé</label>
                  </p>
                   <label>
                     <span>Commentaire : </span>
                     <input type="text" placeholder="Mettez ici votre commentaire" formControlName="commentaire">
                   </label>
            </div>
            <div class="modal-footer">
                 <button class="btn btn-primary modal-close" type="submit" [disabled]="commandeGroup.invalid">Ajouter</button>
                <a class="btn btn-primary modal-close"  (click)="commandeGroup.reset()">Annuler</a>
            </div>
          </form>
        </div>

</div>
