<div class="body">
  <h2 class="center">Commandes</h2>
  <div class="row center">
    <a data-target="modal1" class="btn" class="btn btn-primary orange accent-4" href="#modalCreation" (click)="openModalCreation()"><i class="material-icons">add</i> Commande</a>
<p></p>
    <table class="responsive-table highlight" class="teal lighten-5">
      <thead>
        <tr>
          <th>#</th>
          <th>Restaurant</th>
          <th>Date de la commande</th>
          <th>Commentaires</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes | async">
          <td>
            <i class="little material-icons">receipt</i>
          </td>
          <td [routerLink]="['/commande/', commande.id]" class="pointer">
            {{commande.nomRestaurant}}
          </td>
          <td [routerLink]="['/commande/', commande.id]" class="pointer">
            {{commande.dateCommande | date: 'dd/MM/yyyy'}}
          </td>
          <td [routerLink]="['/commande/', commande.id]" class="pointer">
            {{commande.commentaire}}
          </td>
          <td>
            <a data-target="modal1" class="btn" class="btn-floating btn-small red" href="#modalSuppression" (click)="openModal(commande)"><i class="large material-icons">delete</i>Supprimer</a>
          </td>
          <tr>
          </tbody>
        </table>
      </div>

      <!-- Modal Suppression -->
      <div id="modalSuppression" class="modal" materialize="modal">
        <div class="modal-content">
          <h4>Confirmation de suppression</h4>
          <p>Êtes-vous sûr de vouloir supprimer cette commande ?</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary modal-close" (click)="supprimer()">Confirmer</a>
          <a class="btn btn-primary modal-close">Annuler</a>
        </div>
      </div>


      <!-- Modal Création -->
      <div id="modalCreation" class="modal" materialize="modal">
        <form novalidate (ngSubmit)="onSubmit(commande); commande.reset()" [formGroup]="commande" materialize>
          <div class="modal-content">
            <h4>Ajouter une nouvelle commande</h4>
            <label>
              <span>Date de la commande : </span>
              <input type="date" placeholder="Example : #1155" formControlName="dateCommande" class="datepicker">
            </label>
            <div class="error" *ngIf="commande.get('dateCommande').hasError('minlength') && commande.get('dateCommande').touched">
              Exemple : 15/05/2017
            </div>
            <br/>

            <label>
              <span>Choisir un Restaurant : </span>
              <br />
              <template ngFor let-restaurant  [ngForOf]="restaurants | async">
                <input value="{{restaurant.id}}" id="{{restaurant.id}}" type="radio" formControlName="nom" />
                <label for="{{restaurant.id}}">{{restaurant.nom}}</label>
                <br />
              </template>
            </label>
            <br/>
          <p>
            <input type="checkbox" id="conducteur" value="1" formControlName="conducteur" />
            <label for="conducteur">Conducteur</label>
          </p>
          <p>
            <input type="checkbox" id="accompagne" value="1" formControlName="accompagne" />
            <label for="accompagne">Accompagnateur</label>
          </p>
        <!--<p class=center>
            <i class="medium material-icons">shopping_cart</i> <span id="total">Total : </span>
        </p>-->


        <label>
          <span>Commentaire : </span>
          <input type="text" placeholder="Mettez ici votre commentaire" formControlName="commentaire">
        </label>
          <br/>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary modal-close" type="submit"  [disabled]="commande.invalid">Ajouter</button>
        <a class="btn btn-primary modal-close" (click)="commande.reset()">Annuler</a>
      </div>
    </form>
  </div>
