
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.body{
  width: 90%;
  margin: auto;
}

#commande{
  width: 30%;
  float:left;
  padding-left: 10px;
  padding-right: 50px;
}
#commandes{
  width: 50%;
  float:left;
}
