  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">TeamEat</h1>
        <div class="row center">
          <h5 class="header col s12 light">Une manière simple d'organiser votre repas entre collègues!</h5>
        </div>
        <div class="row center">
          <a  routerLink="/commandes" class="btn-large waves-effect waves-light orange accent-4">Passer une commande</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax" id="image1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><a routerLink="/restaurants"><i class="material-icons">search</i></a></h2>
            <h5 class="center">Choisissez votre Restaurant</h5>

            <p class="light">Ici, vous pouvez choisir, ajouter, modifier ou supprimer un restaurant. Vous avez également la possibilité de gérer les menus du restaurant et laisser votre avis !</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><a routerLink="/utilisateurs"><i class="material-icons">group</i></a></h2>
            <h5 class="center">Administration des Utilisateurs</h5>

            <p class="light">L'administration des utilisateurs inclut l'ajout des comptes d'utilisateurs, leur modification et suppression.</p>
          </div>
        </div>

          <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><a routerLink="/commandes"><i class="material-icons">receipt</i></a></h2>
            <h5 class="center">Gestion des Commandes</h5>

            <p class="light">Cet onglet présente les commandes passées, donne leurs détails et offre aussi la possibilité de créer une nouvelle commande !</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
        </div>
      </div>
    </div>
    <div class="parallax" id="image2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Création du site</h4>
          <p class="left-align light">Pour la mise en place du style de ce site, le template <a href="http://materializecss.com/getting-started.html">Materialize</a> a été utilisé.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        <!--  <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
        </div>
      </div>
    </div>
    <div class="parallax" id="image3"></div>
  </div>
