.parallax-container {
    height: 443px;
}

#image1{
  background-image: url("../../images/background1.jpg");
  background-repeat:no-repeat;
}

#image2{
  background-image: url("../../images/background2.jpg");
  background-repeat:no-repeat;
}
#image3{
  background-image: url("../../images/background3.jpg");
  background-repeat:no-repeat;
}
