
<!--Restaurants-->
<div class="body">
    <h2 class="center">Restaurants</h2>
    <div class="row center">
    <a data-target="modal1" class="btn" class="btn btn-primary orange accent-4" href="#modalCreation"><i class="material-icons">add</i> Restaurant</a>
    <p></p>
     <table class="responsive-table highlight" class="teal lighten-5">
        <thead>
          <tr>
            <th>#</th>
              <th>Nom</th>
              <th>Adresse</th>
              <th>Téléphone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurant of restaurants  | async">
            <td>
              <i class="material-icons">loyalty</i>
            </td>
            <td  [routerLink]="['/restaurant/', restaurant.id]" class="pointer">
              {{restaurant.nom}}
            </td>
            <td [routerLink]="['/restaurant/', restaurant.id]" class="pointer">
              {{restaurant.adresse}}
            </td>
            <td [routerLink]="['/restaurant/', restaurant.id]" class="pointer">
              {{restaurant.telephone}}
            </td><td>

                <a data-target="modal1" class="btn-floating btn-small red" href="#modalSuppression" (click)="openModal(restaurant)"><i class="large material-icons">delete</i>Supprimer</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>


  <!-- Modal Suppression -->
  <div id="modalSuppression" class="modal" materialize="modal">
    <div class="modal-content">
      <h4>Confirmation de suppression</h4>
      <p>Êtes-vous sûr de vouloir supprimer le restaurant <span *ngIf="selectedRestaurant"><b>{{ selectedRestaurant.nom }}</b></span> ?</p>
    </div>
    <div class="modal-footer">
         <a class="btn btn-primary modal-close" (click)="supprimer()">Confirmer</a>
      <a class="btn btn-primary modal-close">Annuler</a>
  </div>
</div>

<!-- Modal Création -->
<div id="modalCreation" class="modal" materialize="modal">
        <form novalidate (ngSubmit)="onSubmit(restaurant); restaurant.reset();" [formGroup]="restaurant" materialize>
<div class="modal-content">
  <h4>Ajouter un nouveau restaurant</h4>

     <label>
        <span>Nom : </span>
        <input type="text" placeholder="Nom du Restaurant" formControlName="nom">
      </label>
      <div class="error" *ngIf="restaurant.get('nom').hasError('required') && restaurant.get('nom').touched">
        Remplissez le nom du restaurant
      </div>
      <div class="error" *ngIf="restaurant.get('nom').hasError('minlength') && restaurant.get('nom').touched">
        Minimum 2 charactères
      </div><br/>

      <label>
         <span>Adresse : </span>
         <input type="text" placeholder="Adresse du Restaurant" formControlName="adresse">
       </label>
       <div class="error" *ngIf="restaurant.get('adresse').hasError('required') && restaurant.get('adresse').touched">
         Remplissez l'adresse du restaurant
       </div>
       <div class="error" *ngIf="restaurant.get('adresse').hasError('minlength') && restaurant.get('adresse').touched">
         Minimum 2 charactères
       </div><br/>

       <label>
          <span>Téléphone : </span>
          <input type="text" placeholder="Téléphone du Restaurant" formControlName="telephone">
        </label>
        <div class="error" *ngIf="restaurant.get('telephone').hasError('required') && restaurant.get('telephone').touched">
          Remplissez le télephone du restaurant
        </div>
        <div class="error" *ngIf="restaurant.get('telephone').hasError('minlength') && restaurant.get('telephone').touched">
          Minimum 2 charactères
        </div><br/>

        </div>
        <div class="modal-footer">
         <button class="btn btn-primary modal-close" type="submit" [disabled]="restaurant.invalid">Ajouter</button>
         <a class="btn btn-primary modal-close"  (click)="restaurant.reset()">Annuler</a>
        </div>
       </form>
</div>
