.center{
      padding-bottom: 30px;
}

#menus,#avis{
  width: 30%;
  float:left;
}
#menus{
  padding-right: 25px;
}

#restaurants{
  width: 30%;
  float: left;
  padding-left: 45px;
  padding-right: 30px;
}

.sebm-google-map-container {
  height: 300px;
}
