<div *ngIf="restaurant" id="restaurants">
  <h4>{{restaurant.nom}}</h4>
  <h4>Note moyenne : {{moyenne}}</h4>
  <div>
    <label>Adresse : </label>
    <input [(ngModel)]="restaurant.adresse" placeholder="adresse" />
  </div>
  <div>
    <label>Téléphone : </label>
    <input [(ngModel)]="restaurant.telephone" placeholder="telephone" />
  </div>
    <div class="center">
  <a class="btn btn-primary" (click)="goBack()">Retour</a>
  <a class="btn btn-primary" (click)="save()">Sauvegarder</a>
</div>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->

  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="13">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>


</div>

<!--Menus-->
  <div *ngIf="restaurant" id="menus">
    <h4>Menus</h4>
    <a data-target="modal1" class="btn" class="btn btn-primary" href="#modalCreationMenu"><i class="material-icons">add</i> Menu</a>
      <table class="responsive-table highlight">
        <thead>
          <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menus | async">
            <td>
            {{menu.nom}}
            </td>
            <td>
            {{menu.description}}
            </td>
            <td>
            {{menu.prix}} €
            </td>
            <td>
                <a data-target="modal1" class="btn" class="btn-floating btn-small red" href="#modalSuppressionMenu" (click)="openModal(menu)"><i class="material-icons">delete</i></a>
            </td>
          <tr>
        </tbody>
      </table>
      </div>

      <!--Avis-->
      <div *ngIf="restaurant" id="avis">
        <h4>Avis</h4>
          <a data-target="modal1" class="btn" class="btn btn-primary" href="#modalCreationAvis"><i class="material-icons">add</i> Avis</a>
          <table class="responsive-table highlight">
            <thead>
              <tr>
                <th>Date</th>
                  <th>Utilisateur</th>
                  <th>Notes</th>
                  <th>Avis</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let avis of allAvis | async">
                <td>
                  {{avis.dateAvis | date: 'dd/MM/yyyy'}}
                </td>
                <td>
                    {{avis.nomUtilisateur}}
                </td>
                <td>
                  {{avis.note}}
                </td>
                <td>
                  {{avis.commentaire}}
                </td>
                <td>
                    <a data-target="modal1" class="btn" class="btn-floating btn-small red" href="#modalSuppressionAvis" (click)="openModalAvis(avis)"><i class="material-icons">delete</i></a>
                </td>
              <tr>
            </tbody>
          </table>
      </div>


      <!-- Modal Suppression Menu-->
      <div id="modalSuppressionMenu" class="modal" materialize="modal">
        <div class="modal-content">
          <h4>Confirmation de suppression</h4>
          <p>Êtes-vous sûr de vouloir supprimer le menu <span *ngIf="selectedMenu"><b>{{ selectedMenu.nom }}</b></span> ?</p>
        </div>
        <div class="modal-footer">
             <a class="btn btn-primary modal-close" (click)="supprimer()">Confirmer</a>
             <a class="btn btn-primary modal-close">Annuler</a>
            </div>
        </div>


          <!-- Modal CréationMenu -->
    <div id="modalCreationMenu" class="modal" materialize="modal">
      <form novalidate (ngSubmit)="onSubmit(menu); menu.reset();" [formGroup]="menu" materialize>
          <div class="modal-content">
            <h4>Ajouter un nouveau menu</h4>
               <label>
                  <span>Nom : </span>
                  <input type="text" placeholder="Nom du menu" formControlName="nom">
                </label>
                <div class="error" *ngIf="menu.get('nom').hasError('required') && menu.get('nom').touched">
                  Remplissez le nom du menu
                </div>
                <div class="error" *ngIf="menu.get('nom').hasError('minlength') && menu.get('nom').touched">
                  Minimum 2 charactères
                </div><br/>

                <label>
                   <span>Description : </span>
                   <input type="text" placeholder="Description" formControlName="description">
                 </label>
                 <div class="error" *ngIf="menu.get('description').hasError('required') && menu.get('description').touched">
                   Remplissez la description
                 </div>
                 <div class="error" *ngIf="menu.get('description').hasError('minlength') && menu.get('description').touched">
                   Minimum 2 charactères
                 </div><br/>

                 <label>
                    <span>Prix : </span>
                    <input type="number" placeholder="Exemple : 10" formControlName="prix">
                  </label>
                  <div class="error" *ngIf="menu.get('prix').hasError('required') && menu.get('prix').touched">
                    Remplissez le prix
                  </div>
                  <div class="error" *ngIf="menu.get('prix').hasError('minlength') && menu.get('prix').touched">
                    Minimum 1 charactère
                  </div><br/>

          </div>
          <div class="modal-footer">
               <button class="btn btn-primary modal-close" type="submit" [disabled]="menu.invalid">Ajouter</button>
              <a class="btn btn-primary modal-close" (click)="menu.reset()">Annuler</a>
          </div>
        </form>
      </div>

      <!-- Modal CréationAvis -->
    <div id="modalCreationAvis" class="modal" materialize="modal">
    <form novalidate (ngSubmit)="onSubmitAvis(avis); avis.reset();" [formGroup]="avis" materialize>
      <div class="modal-content">
        <h4>Donnez votre avis</h4>
           <label>
              <span>Commentaire : </span>
              <input type="text" formControlName="commentaire">
            </label>
            <div class="error" *ngIf="avis.get('commentaire').hasError('required') && avis.get('commentaire').touched">
              Ecrivez votre commentaire ici
            </div>
            <div class="error" *ngIf="avis.get('commentaire').hasError('minlength') && avis.get('commentaire').touched">
              Minimum 2 charactères
            </div><br/>


            <label>
              <span>Notez le restaurant sur 5 point : </span>
              <input type="number" placeholder="1" formControlName="note">
            </label>
      </div>
      <div class="modal-footer">
           <button class="btn btn-primary modal-close" type="submit" [disabled]="avis.invalid">Ajouter</button>
           <a class="btn btn-primary modal-close" (click)="avis.reset()">Annuler</a>
      </div>
    </form>
    </div>


          <!-- Modal Suppression Avis-->
          <div id="modalSuppressionAvis" class="modal" materialize="modal">
            <div class="modal-content">
              <h4>Confirmation de suppression</h4>
              <p>Êtes-vous sûr de vouloir supprimer ce commentaire ?</p>
            </div>
            <div class="modal-footer">
                 <a class="btn btn-primary modal-close" (click)="supprimerAvis()">Confirmer</a>
              <a class="btn btn-primary modal-close">Annuler</a>
                </div>
            </div>
