<div class="body">
  <div *ngIf="utilisateur">
    <h4>Compte de {{utilisateur.nom}} {{utilisateur.prenom}}</h4>
    <div>
      <label>Nom : </label>
      <input [(ngModel)]="utilisateur.nom" placeholder="nom" />
    </div>
    <div>
      <label>Prénom : </label>
      <input [(ngModel)]="utilisateur.prenom" placeholder="prenom" />
    </div>
    <div>
      <label>Mail : </label>
      <input [(ngModel)]="utilisateur.mail" placeholder="mail" />
    </div>
    <div class="switch center">
      <label>
        <b>A pied</b> <i class="small material-icons cyan-text text-darken-4">not_interested</i>
        <input type="checkbox" [(ngModel)]="utilisateur.vehicule">
        <span class="lever"></span>
        <b>Véhiculé</b> <i class="small material-icons cyan-text text-darken-4">verified_user</i>
      </label>
    </div>
    <div class="center">
      <a (click)="goBack()" class="btn btn-primary">Retour</a>
      <a (click)="save()" class="btn btn-primary">Sauvegarder</a>
    </div>

  </div>
</div>
