<div class="body">
  <h2 class="center">Utilisateurs</h2>
  <div class="row center">
  <a data-target="modal1"  class="btn btn-primary orange accent-4" href="#modalCreation"><i class="material-icons">add</i> Utilisateur</a>
<p></p>
<table class="responsive-table highlight" class="teal lighten-5">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Véhiculé</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="teal lighten-5">
      <tr *ngFor="let utilisateur of utilisateurs  | async">
        <td><i class="material-icons">perm_identity</i></td>
        <td  [routerLink]="['/utilisateur/', utilisateur.id]" class="pointer">
          {{utilisateur.nom}}
        </td>
        <td [routerLink]="['/utilisateur/', utilisateur.id]" class="pointer">
          {{utilisateur.prenom}}
        </td>
        <td [routerLink]="['/utilisateur/', utilisateur.id]" class="pointer">
          {{utilisateur.mail}}
        </td>
        <td  [routerLink]="['/utilisateur/', utilisateur.id]" class="pointer">
          <i class="material-icons cyan-text text-darken-4">{{getVehicule(utilisateur.vehicule)}}</i>
        </td>
        <td>
          <a data-target="modal1" class="btn-floating btn-small red" href="#modalSuppression" (click)="openModal(utilisateur)"><i class="large material-icons">delete</i>Supprimer</a>
        </td>

      </tr>
    </tbody>
  </table>
</div>
  <!-- Modal Suppression -->
  <div id="modalSuppression" class="modal" materialize="modal">
    <div class="modal-content">
      <h4>Confirmation de suppression</h4>
      <p>Êtes-vous sûr de vouloir supprimer l'utilisateur <span *ngIf="selectedUtilisateur"><b>{{ selectedUtilisateur.prenom }} {{ selectedUtilisateur.nom }}</b></span> ?</p>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary modal-close" (click)="supprimer()">Confirmer</a>
      <a class="btn btn-primary modal-close">Annuler</a>
    </div>
  </div>



  <!-- Modal Création -->
  <div id="modalCreation" class="modal" materialize="modal">
    <form novalidate (ngSubmit)="onSubmit(utilisateur); utilisateur.reset();" [formGroup]="utilisateur" materialize>
      <div class="modal-content">
        <h4>Ajouter un nouvel utilisateur</h4>

        <label>
          <span>Nom : </span>
          <input type="text" placeholder="Votre nom" formControlName="nom">
        </label>
        <div class="error" *ngIf="utilisateur.get('nom').hasError('required') && utilisateur.get('nom').touched">
          Remplissez votre nom
        </div>
        <div class="error" *ngIf="utilisateur.get('nom').hasError('minlength') && utilisateur.get('nom').touched">
          Minimum 2 charactères
        </div><br/>

        <label>
          <span>Prénom : </span>
          <input type="text" placeholder="Votre prénom" formControlName="prenom">
        </label>
        <div class="error" *ngIf="utilisateur.get('prenom').hasError('required') && utilisateur.get('prenom').touched">
          Remplissez votre prénom
        </div>
        <div class="error" *ngIf="utilisateur.get('prenom').hasError('minlength') && utilisateur.get('prenom').touched">
          Minimum 2 charactères
        </div><br/>

        <label>
          <span>Mail : </span>
          <input type="email" placeholder="Votre mail" formControlName="mail">
        </label>
        <div class="error" *ngIf="utilisateur.get('mail').hasError('required') && utilisateur.get('mail').touched">
          Remplissez votre email
        </div>
        <div class="error" *ngIf="utilisateur.get('mail').hasError('minlength') && utilisateur.get('mail').touched">
          Minimum 2 charactères
        </div><br/>

        <label>
          <span>Mot de passe : </span>
          <input type="password" placeholder="Mot de passe" formControlName="motdepasse">
        </label>
        <div class="error" *ngIf="utilisateur.get('motdepasse').hasError('required') && utilisateur.get('motdepasse').touched">
          Remplissez votre mot de passe
        </div>
        <div class="error" *ngIf="utilisateur.get('motdepasse').hasError('minlength') && utilisateur.get('motdepasse').touched">
          Minimum 2 charactères
        </div><br/>


        <p>
          <input type="checkbox" id="vehicule" formControlName="vehicule" value="1"/>
          <label for="vehicule">Véhiculé</label>
        </p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary modal-close" type="submit" [disabled]="utilisateur.invalid">Ajouter</button>
        <a class="btn btn-primary modal-close" (click)="utilisateur.reset()">Annuler</a>
      </div>
    </form>
  </div>
</div>
