a {
color: white;
}

 #login{
   width: 40%;
   margin: auto;
 }

 .label{
     display: inline-block;
     text-align: left;
     width: 135px;
 }
 label {
    font-size: 17px;
    color: #9e9e9e;
}
.center, .center-align {
    text-align: center;
    color: #b2dfdb;
}

input[type=text], .motdepasse,#email{
   width: 615px;
}

.modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0;
    color: black;
}

.labels {
    display: inline-block;

    width: 111px;
}
