<div class="section" id="login">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1" >
      <div class="card-content white-text">
        <h2 class="center">Login</h2>
        <!--<img src="src/images/petitlogo.png" alt="" class="circle responsive-img" id="logoLogin">-->

        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div>
            <label class="label" for="mail"><i class="material-icons">person_pin</i>Email : </label>
            <input id="mail"  placeholder="Example : test@test.fr" type="email" [(ngModel)]="model.mail" #firstname="ngModel" name="mail" pInputText>
          </div>
          <div>
            <label class="label" for="motdepasse"><i class="material-icons">mode_edit</i>Mot de passe : </label>
            <input id="motdepasse" type="password"  placeholder="Mot de passe : test" [(ngModel)]="model.motdepasse" #motdepasse="ngModel" name="motdepasse" pInputText>
          </div>
           <div class='row'><button class="btn col s12 #26a69a" type="submit" label="Log In">Se connecter</button>
          </div><div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>


        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a data-target="modal" href="#modalCreation">Créez votre compte !</a></p>
          </div>
        </div>



        <!-- Modal Création -->
        <div id="modalCreation" class="modal" materialize="modal">
          <form novalidate (ngSubmit)="onSubmitUtilisateur(utilisateur); utilisateur.reset();" [formGroup]="utilisateur" materialize>
            <div class="modal-content">
              <h4 class="center">Ajouter un nouvel utilisateur</h4>

              <label>
                <span class="labels">Nom : </span>
                <input type="text" placeholder="Votre nom" formControlName="nom">
              </label>
              <div class="error" *ngIf="utilisateur.get('nom').hasError('required') && utilisateur.get('nom').touched">
                Remplissez votre nom
              </div>
              <div class="error" *ngIf="utilisateur.get('nom').hasError('minlength') && utilisateur.get('nom').touched">
                Minimum 2 charactères
              </div><br/>

              <label>
                <span class="labels">Prénom : </span>
                <input type="text" placeholder="Votre prénom" formControlName="prenom">
              </label>
              <div class="error" *ngIf="utilisateur.get('prenom').hasError('required') && utilisateur.get('prenom').touched">
                Remplissez votre prénom
              </div>
              <div class="error" *ngIf="utilisateur.get('prenom').hasError('minlength') && utilisateur.get('prenom').touched">
                Minimum 2 charactères
              </div><br/>

              <label>
                <span class="labels">Mail : </span>
                <input id="email" type="email" placeholder="Votre mail" formControlName="mail">
              </label>
              <div class="error" *ngIf="utilisateur.get('mail').hasError('required') && utilisateur.get('mail').touched">
                Remplissez votre email
              </div>
              <div class="error" *ngIf="utilisateur.get('mail').hasError('minlength') && utilisateur.get('mail').touched">
                Minimum 2 charactères
              </div><br/>

              <label>
                <span class="labels">Mot de passe : </span>
                <input type="password" class="motdepasse" placeholder="Mot de passe" formControlName="motdepasse">
              </label>
              <div class="error" *ngIf="utilisateur.get('motdepasse').hasError('required') && utilisateur.get('motdepasse').touched">
                Remplissez votre mot de passe
              </div>
              <div class="error" *ngIf="utilisateur.get('motdepasse').hasError('minlength') && utilisateur.get('motdepasse').touched">
                Minimum 2 charactères
              </div><br/>


              <p>
                <input type="checkbox" id="vehicule" formControlName="vehicule" value="1"/>
                <label for="vehicule">Véhiculé</label>
              </p>

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary modal-close" type="submit" [disabled]="utilisateur.invalid">Ajouter</button>
              <a class="btn btn-primary modal-close" (click)="utilisateur.reset()">Annuler</a>
            </div>
          </form>
        </div>






      </div>
    </div>
  </div>
</div>
