<nav role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo"><img src="src/images/petitlogo.png" class="left" id="logo" />{{title}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/dashboard" title="Dashboard">Dashboard</a></li>
      <li routerLinkActive="active"><a routerLink="/restaurants" title="Restaurants">Restaurants</a></li>
      <li  routerLinkActive="active"><a routerLink="/utilisateurs" title="Utilisateurs">Utilisateurs</a></li>
      <li routerLinkActive="active"><a routerLink="/commandes" title="Commandes">Commandes</a></li>
        <li routerLinkActive="active"><a routerLink="/auth" title="Se déconnecter" (click)="logout()"><i class="large material-icons">power_settings_new</i></a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
